// Fonts

$font-main: "Roboto", sans-serif;
$font-accent: "PT Serif", serif;

// Colors

$black: #1f1e1e;
$white: #ffffff;
$accent: #886239;
$gray: #c4c4c4;
$border: #d9d9de;
$booking-bg: #eaeaea;

// Breakpoints
$desktop-big: 1140px;
$desktop: 1000px;
$tablet: 800px;
$small-tablet: 560px;
